.login-page {
  background: linear-gradient(to top left, #041f60, #0476d0, #2ceef0);
}

.login-form {
  height: 60%;
  max-width: 30%;
  min-height: 350px;
  min-width: 250px;
}

.logo {
  opacity: 0.7;
}

.login {
  background: linear-gradient(to top left, #041f60, #0476d0);
}

input::placeholder {
  font-family: FontAwesome, sans-serif;
  /* https://stackoverflow.com/questions/17254339/font-awesome-unicode */
}
