.wallet-page {
  background: linear-gradient(to top left, #041f60, #0476d0, #2ceef0);
  background-size: cover;
  min-height: 100vh;
}

.expenseForm {
  max-width: 1140px;
}

.logo {
  min-width: 25%;
}

.user-info {
  margin: 0 auto;
  min-width: 85%;
}

label {
  font-weight: 700;
}

thead , td , span , p , label {
  color: white;
  text-align: center;
}

i {
  font-family: FontAwesome, sans-serif;
  font-style: normal;
}

@media ( max-width : 600px ) {

  .logo {
    min-width: 70%;
  }
}
