.wallet-page {
  min-height: 100vh;
  background: linear-gradient(to top left, #041F60, #0476D0, #2CEEF0);
  background-size: cover;
}

#expenseForm {
  max-width: 1140px;
}

.logo {
  min-width: 25%;
}

.user-info {
  max-width: 1140px;
  margin: 0 auto;
}

.username {
  font-size: 1.5rem;
}

label {
  font-weight: 700;
}

thead, td, span, p, label {
  color: white;
  text-align: center;
}

i {
  font-family: FontAwesome;
  font-style: normal;
}

@media (max-width: 600px) {
  .logo {
    min-width: 70%;
  }
}